<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ztask.name %>
</p>



<%= link_to 'Edit', edit_zproject_ztask_path(@zproject, @ztask) %> |
<%= link_to 'Back', zproject_path(@zproject) %>
