<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <title>Time Logger</title>
  <base href="/">
  <%= stylesheet_link_tag "application", :media => "all" %>


</head>
<body>
<div class="container">
  <div ng-view></div>
</div>
  <%= javascript_include_tag "application" %>
</body>
</html>